  
  <p>
  <strong>Зочин:</strong>
  <%= comment.user %>
</p>
 
<p>
  <strong>Сэтгэгдэл:</strong>
  <%= comment.post %>
</p>
 
<p>
	<div class="btn btn-outline-primary btn-sm	">
  <%= link_to 'Сэтгэгдэлээ устгах', [comment.place, comment],
               method: :delete,
               data: { confirm: 'Та сэтгэгдэл устгахдаа итгэлтэй байна уу' } %>
                </div> 

</p>