   <%= stylesheet_link_tag    'commentform'%>
  <div class="comment">
    <%= form_with(model: [ @place, @place.comments.build ], local: true) do |form| %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="star">
            <div class="star-rating">
          <span class="fa fa-star-o" data-rating="1"></span>
          <span class="fa fa-star-o" data-rating="2"></span>
          <span class="fa fa-star-o" data-rating="3"></span>
          <span class="fa fa-star-o" data-rating="4"></span>
          <span class="fa fa-star-o" data-rating="5"></span>
          <input type="hidden" name="whatever1" class="rating-value" value="3">
        </div>
      </div>
      </div>
    </div>
  </div>

      <div class="row">
        <div class="col-25">
         <label>Зочин</label>
        </div>

      <div class="col-75">
        <%= form.text_field :user %>
      </div>
    </div>


    <div class="row">
      <div class="col-25">
           <label>Сэтгэгдэл</label>
      </div>
      <div class="col-75">
       <%= form.text_area :post %>
      </div>
      <p>
      <%= form.hidden_field :rating %>
      </p>
    </div>
    
    <div class="row">
       
         
      <%= form.submit 'Сэтгэгдэл үлдээх', class: "btn btn-outline-primary" %>
          
    </div>
<% end %>
</div>
<script>
  
  var $star_rating1 = $('.star-rating .fa');

var SetRatingStar = function() {
  return $star_rating1.each(function() {

    if (parseInt($star_rating1.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
     
    }

  });
};

$star_rating1.on('click', function() {
  $star_rating1.siblings('input.rating-value').val($(this).data('rating'));
document.getElementsByName("comment[rating]")[0].value = $(this).data('rating');
 
  return SetRatingStar();
});

SetRatingStar();
$(document).ready(function() {

});
</script>