
.navbar.navbar-light.bg-light {
  margin-top: 110px;
  margin-left: 10px;
  width: 100%;
  border: 1px solid #e4e8ec !important;
  font-size: 18px;
  height: 60px;
  background-color: white !important;
}
.checkbox-inline {
  margin-top: 10px;
  font-size: 18px;
  padding: 16px 13px 13px 15px;
  margin-bottom: 12px;
}
.form-check-inline{
  margin-left: 0px;
  margin-right: 0px;
}

.w3 {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 12px;
  font-size: 18px;
}

.agileits {
  text-indent-size: 20px; 
  margin-bottom: 12px;
}

input[type=text], textarea {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 14px;
  padding: 10px 40px 10px 68px;
  margin-bottom: 5px;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 7px 21px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.center {
  border: 1px solid #e4e8ec !important;
  margin-top: 5px;
  margin-left: 10px;
}
.zurag{
  background-image: url(images/1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 20%;
}
.new{
  padding: 10px;
}
.background{
  max-width: 700px;
  background: rgba(120, 109, 118, 0.36 );
  margin: auto;
  margin-bottom: 50px;
}
.background p{
  font-size: 17px !important;
  color: white;
}
.form-group{
  padding: 30px;
  margin-bottom: -50px;
}
.time{

}
.time select{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.pagination{
  justify-content: center;
}
#demo{  

}
