<head>
    <title>Added Places</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="addedplaces.css" type="text/css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="addedplaces.js"></script>    
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class = "square">
  <h1>Hello</h1>  
  <div class="main">

        <h1 style="font-size:3vw;">My Added Places</h1>
        <hr>
        <!-- Portfolio Gallery Grid -->
        <div class="row">



            <div class="column">
                <div class="content">
                    <img src="Images/Yokohama.jpg" alt="Yokohama" class="img" style="width:100%">
                    <h3>Shikoku</h3>
                    <div class="col-lg-12">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                            oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <img src="Images/Yokohama.jpg" alt="Yokohama" class="img" style="width:100%">
                    <h3>Tokyo</h3>
                    <div class="col-lg-12">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                            oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <img src="Images/Yokohama.jpg" alt="Yokohama" class="img" style="width:100%">
                    <h3>Osaka</h3>
                    <div class="col-lg-12">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                            oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <img src="Images/Yokohama.jpg" alt="Yokohama" class="img" style="width:100%">
                    <h3>Shinjuku</h3>
                    <div class="col-lg-12">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                            oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <img src="Images/Yokohama.jpg" alt="Yokohama" class="img" style="width:100%">
                    <h3>Kyushu</h3>
                    <div class="col-lg-12">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                            oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <img src="Images/Yokohama.jpg" alt="Yokohama" class="img" style="width:100%">
                    <h3>Kyoto</h3>
                    <div class="col-lg-12">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                            oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <img src="Images/Yokohama.jpg" alt="Yokohama" class="img" style="width:100%">
                    <h3>Yokohama</h3>
                    <div class="col-lg-12">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                            oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <img src="Images/Yokohama.jpg" alt="Yokohama" class="img" style="width:100%">
                    <h3>Odaiba</h3>
                    <div class="col-lg-12">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                            oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>


            <!-- END GRID -->
        </div>
        <!-- END MAIN -->
    </div>
</div>
