<div class="square">
	<%= stylesheet_link_tag 'index'%>

<div class="square">
<div class = "container">
  <h5>Татгалзсан газрууд</h5>
  <div class = "card-box container"> 
    <div class="card-deck ">
      <% @denied.each.with_index do |place,index| %>
        <div class="card" style="width: 18rem; max-width: 250px; min-width: 200px; margin-bottom: 20px; border-radius: 20px;">
          <div class = "photo">
            <%= image_tag place.image.to_s %>
            <div class="glow-wrap link ">
              <i class="glow"></i>
            </div>
          </div>

          <div class="card-body">
            <div class="titles">
            <%= link_to place.title, place_path(place) %><br> 
              
            </div>
            <div class="col-lg-12">
              <div class="star">
                <div class="<%=index%>">
          <span class="fa fa-star-o" data-rating="1"></span>
          <span class="fa fa-star-o" data-rating="2"></span>
          <span class="fa fa-star-o" data-rating="3"></span>
          <span class="fa fa-star-o" data-rating="4"></span>
          <span class="fa fa-star-o" data-rating="5"></span>
          <input type="hidden" name="whatever1" class="rating-value" value="<%=place.comments.average(:rating)%>">
        </div>        
              </div>
        
      </div>
             <div class = "description">
                  <%= place.description%>
             </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
            <div class="btn btn-outline-primary btn-lg btn-block">
                  <%= link_to " Зөвшөөрөх",controller: 'login', action: 'approve', place: place.id %>    
                </div> 
              </li>
            </ul>
          </div>
        </div> 
      <% end %>
    </div>
  </div>
</div>

<%= will_paginate @denied %>
</div>
</div>

   <script>

    for (var i = 0; i < 4; i++) {
         
  
     var d = "'."+i+" .fa'";
     var $val = "'."+i+" .fa'";
     console.log($val);
     var $star_rating = $('.'+i+' .fa'); 
     console.log($star_rating);
   
     var SetRatingStar = function() {
  return $star_rating.each(function() {
    if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
  });
};
SetRatingStar();
$(document).ready(function() {

});
    }
    
</script>