<div class="square">
	 <%= form_with scope: :category, url: login_index_path, local: true do |form| %>
     	<div class="row form-group">
			    <div class="col-md-3">
			      <label><p>Төрөл</p></label>
			    </div>
			    <div class="col-md-9">
			      <%= form.text_field :name %>
			    </div>
  	    </div>	
  	     <%= form.submit 'Нэмэх', class: "btn btn-outline-primary" %>
      <% end -%>
</div>