.nav-link{
  margin-left: 20px;  
}
.nav-link a{
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light{
   background: #00c4cc;
   background-image: linear-gradient(240deg, #00C4CC 0%, #7D2AE8 100%); 
   max-height: 800px;
   min-height:  100px; 
}

.navbar-brand {
	height: 30px;
  padding: 0px;
}
.navbar-brand>img {
  margin-top: -25px !important;
  height: 300%;
  padding: 0px;
  margin:auto;
}
#navbarDropdown{
color: white !important;
margin-top: 0px;
  font-size: 20px;
  font-family:"Roboto Condensed", sans-serif;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    padding: 10px;
    position: absolute;
}
.dropdown-menu.show {
    display: block;
    padding: 10px;
}
p{
  padding: 0px;
  margin-bottom:0px;
}
#navbarNavDropdown.show{
  padding-top: 30px;
}
