.zurag{
	background-image: url(images/Ulaanbaatar.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 20%;
	margin-top: -20px;
}
.new{
  padding: 10px;
}
.background{
	max-width: 700px;
	background: rgba(8, 76, 105, 0.8);
	margin: auto;
	margin-bottom: 50px;
	border-radius: 20px
}
.background p{
	font-size: 17px !important;
	color: white;
}
.form-group{
	padding: 30px;
	margin-bottom: -50px;
}
.time{
}
.time select{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}