// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.square{
  min-height: 500px;
  height: 100%;
  margin-top: 100px;
}