.body{
 
}
.card-box{
  background: url(img/rain.jpeg);
	
	
	margin: auto;
	padding: 10px;

	
}
.checked {
    color: orange;
}
.iconlogo{
	margin: auto;
	margin-left:30px;
}
body{
  background: rgba(218,218,218,1)
}



.photo{
  
  
}

.photo img{
  width: 245px !important;
  height: 145px;
  object-fit: cover;
 
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.8);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  
}

.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover  .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover img .glow-wrap{
  
}
.card-option{
	height:3.6em;
}



