 <link href="https://fonts.googleapis.com/css?family=Lora:400,400i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet"> 
 <%= stylesheet_link_tag 'navbar'%>

  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
     <%= link_to image_tag("tlogo1.png", alt: "logo"), '/', class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">

       <p class= "nav-link"> <%= link_to 'Эхлэл', controller: 'places', action: 'index' %></p>
      
      </li>
      <li class="nav-item">
       <p class= "nav-link"><%= link_to 'Жагсаалт', controller: 'places', action: 'check' %></p>
      </li>
      <li class="nav-item">
       <p class="nav-link"> <%= link_to 'Газар нэмэх', controller: 'places', action: 'new' %></p>
      </li>
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Төрөл
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <% @categories.each do |category| %>
         <a class="dropdown-item"><%= link_to category.name, controller: 'places', action: 'category', category: category.id %>
         </a>
         <% end %>
       </div>
     </li>
        <li>
      <div class="nav-item ml-auto">
        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo" style="color:white;"><i class="fa fa-search" style="font-size:20px"></i></button>  
      </div>
      <div class = "nav-item ml-auto">          
      </div>
    </li>
    <li>
    <div class="nav-item dropdown ml-auto" >
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= session[:user_name] %>
      <i class="fa fa-user" style="font-size:20px"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item-text">
        <%= link_to 'Нэвтрэх', controller: 'session', action: 'login' %>            
      </a>
      <a class="dropdown-item">
        <%= link_to 'Бүртгүүлэх', controller: 'session', action: 'new' %>
      </a>
      <a class="dropdown-item">
        <%= link_to 'Минийн нэмсэн газрууд', controller: 'session', action: 'dashboard' %>
      </a>
      <div class="dropdown-divider">
      </div> 
      <a class="dropdown-item-text">
        <%= link_to 'Гарах', controller: 'session', action: 'logout' %>
      </a>
    </div>
  </div> 
    </li>
    </ul>
  </div>
</nav>


