<style type="text/css">
.checkbox-inline {
  margin-top: 10px;
  font-size: 18px;
  padding: 16px 13px 13px 15px;
  margin-bottom: 12px;
}
.form-check-inline{
  margin-left: 0px;
  margin-right: 0px;
}
.w3 {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 12px;
  font-size: 18px;
}
.agileits {
  text-indent-size: 20px; 
  margin-bottom: 12px;
}
input[type=text], textarea {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 14px;
  padding: 10px 40px 10px 68px;
  margin-bottom: 5px;
}
.center {
  border: 1px solid #e4e8ec !important;
  margin-top: 5px;
  margin-left: 10px;
}
.zurag{
  background-image: url(images/1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 20%;
}
.new{
  padding: 10px;
}
.background{
  max-width: 700px;
  background: rgba(120, 109, 118, 0.36 );
  margin: auto;
  margin-bottom: 50px;
}
.background p{
  font-size: 17px !important;
  color: white;
}
.form-group{
  padding: 30px;
  margin-bottom: -50px;
}
.time{
}
.time select{
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.pagination{
  justify-content: center;
}
#demo{  
}
</style>
<%= stylesheet_link_tag 'index'%>
<br>
<br>
<%= stylesheet_link_tag 'index'%>
<div class="square">
  <div class = "container">
    <div id="demo" class="collapse show">
     <div class = "search">
      <%= form_tag places_check_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Хайх" ,class: "btn btn-outline-primary  "  %>
      <% end %>
    </div>  
  </div>  
  <h5>Хамгийн сүүлд нэмэгдсэн</h5>
  <div class = "card-box container"> 
    <div class="card-deck ">
      <% @check.each.with_index do |place,index| %>
      <div class="card" style="width: 18rem; max-width: 250px; min-width: 200px; margin-bottom: 20px; border-radius: 20px;">
        <div class = "photo">
          <%= image_tag place.image.to_s %>
          <div class="glow-wrap link ">
            <i class="glow"></i>
          </div>
        </div>
        <div class="card-body">
          <div class="titles">
            <%= link_to place.title, place_path(place) %><br> 
          </div>
          <div class="col-lg-12">
            <div class="star">
              <div class="<%=index%>">
                <span class="fa fa-star-o" data-rating="1"></span>
                <span class="fa fa-star-o" data-rating="2"></span>
                <span class="fa fa-star-o" data-rating="3"></span>
                <span class="fa fa-star-o" data-rating="4"></span>
                <span class="fa fa-star-o" data-rating="5"></span>
                <input type="hidden" name="whatever1" class="rating-value" value="<%=place.comments.average(:rating)%>">
              </div>        
            </div>
          </div>
          <div class = "description">
            <%= place.description%>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="places/1"><span class="fa fa-facebook iconlogo"></span> </a>
              <a href=""><span class="fa fa-google logo iconlogo"></span></a>
              <a href=""> <span class="fa fa-twitter iconlogo"></span></a>      
            </li>  
          </ul>
        </div>
      </div> 
      <% end %>
    </div>
  </div>
</div>
<%= will_paginate @check %>
</div>
</div>
<script>
  for (var i = 0; i < 4; i++) {
   var d = "'."+i+" .fa'";
   var $val = "'."+i+" .fa'";
   console.log($val);
   var $star_rating = $('.'+i+' .fa'); 
   console.log($star_rating);
   var SetRatingStar = function() {
    return $star_rating.each(function() {
      if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
        return $(this).removeClass('fa-star-o').addClass('fa-star');
      } else {
        return $(this).removeClass('fa-star').addClass('fa-star-o');
      }
    });
  };
  SetRatingStar();
  $(document).ready(function() {
  });
}
</script>
