<div class = "square">
	<div class="zurag">
		<div class="container" style="margin-top: 72px;">
			<br>
			<center><h1 style="margin-top: 20px; color: white;">Газар нэмэх</h1></center>
			<div class="background">
				<%= form_with scope: :place, url: places_path,:html => {:name => 'form'}, local: true do |form| %>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Төрөл</p></label>
					</div>
					<div class="col-md-9">
						<select name="category">
							<option value="none" selected="" disabled="">Төрөл сонгох</option>
							<% @categories.each do |category| %>
							<option value=<%= category.id %> > <%= category.name %></option>
							<% end %>
						</select>
					</div>		                
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Гарчиг</p></label>
					</div>
					<div class="col-md-9">
						<%= form.text_field :title, :required => true,:onkeyup => "return validateForm();"  %>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Зургийн файл</p></label>
					</div>
					<div class="col-md-9">
						<%= form.file_field :image %> 
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Тайлбар</p></label>
					</div>
					<div class="col-md-9">
						<%= form.text_area :description, :required => true,:onkeyup => "return validateForm();"  %>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Цагийн хуваарь</p></label>
					</div>
					<div class="col-md-9">
						<%= form.text_field :timetable, :required => true,:onkeyup => "return validateForm();"  %>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Нээх цаг</p></label>
					</div>
					<div class="col-md-9">
						<div class="time">
							<%= form.time_select :opentime, :required => true,:onkeyup => "return validateForm();"  %>		
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Хаах цаг</p></label>
					</div>
					<div class="col-md-9">
						<div class="time">
							<%= form.time_select :closetime, :required => true,:onkeyup => "return validateForm();"  %>		
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Үнэ</p></label>
					</div>
					<div class="col-md-9">
						<div class="time">
							<%= form.text_field :price, :required => true,:onkeyup => "return validateForm();"  %>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Хаяг</p></label>
					</div>
					<div class="col-md-9">
						<div class="time">
							<%= form.text_field :location, :required => true,:onkeyup => "return validateForm();" %>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Уртраг</p></label>
					</div>
					<div class="col-md-9">
						<div class="time">
							<%= form.text_field :longitude, :required => true,:onkeyup => "return validateForm();" %>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Өргөрөг</p></label>
					</div>
					<div class="col-md-9">
						<div class="time">
							<%= form.text_field :latitude, :required => true,:onkeyup => "return validateForm();" %>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3">
						<label><p>Утас</p></label>
					</div>
					<div class="col-md-9">
						<div class="time">
							<%= form.text_field :phone, :required => true,:onkeyup => "return validateForm();" %>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<%= form.submit 'Нэмэх', class: "btn btn-outline-primary" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>	
</div>
<script>

function validateForm() {
  
  var  title = document.forms["form"]["article[title]"].value;
  var  description = document.forms["form"]["place[description]"].value;
  var  price = document.forms["form"]["place[price]"].value;
  var  location = document.forms["form"]["place[location]"].value;
  var  longitude = document.forms["form"]["place[longitude]"].value;
  var  latitude = document.forms["form"]["place[latitude]"].value;
  var  phone = document.forms["form"]["place[phone]"].value;

  var msg="";
  var check  = /^[a-zA-Z0-9_.-]*$/;
   if (!check.test(title)) {
        msg="Гарчигийн утгыг шалгана уу !";
       document.getElementById("errorTitle").innerHTML =msg;
    }
    else{
      msg="";
      document.getElementById("errorTitle").innerHTML =msg;
    }

   if (!check.test(x)){
    msg="please check value of text";
    document.getElementById("errorText").innerHTML =msg;
  } else{
   msg=="";
   document.getElementById("errorText").innerHTML =msg;
    
  }
 
 
  if(msg =! ""){

    return false;
  }
  else{
    
     
    return true;
  }
} 
</script>


