<div class = "container">
  <div class = "row">
    <div class = "col-sm-8">
      <div class = "uploadTime">
        <div class="hr-sect"><%= @place.updated_at.strftime("%Y-%m-%d"); %></div>
      </div>
      <div class = "title">
        <center><h2><%= @place.title %></h2></center>
      </div>
      <div class = "picture1 img-rounded">
        <center>  <%= image_tag @place.image.to_s %></center>
      </div> 
      <div class="info">
        <div class = "detail">
        <p class="fa fa-eye " >Үзсэн тоо :<span class="badge badge-dark"><%= @place.count %></span></p>
        </div>
        <div class="detail">
         <div class="col-lg-12">
          <div class="star">
            <div class="star-rating1">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever1" class="rating-value1" value="<%=@average%>">
            </div>
          </div>
         </div>
        </div>
        <div class = "detail">
          <% @place.categories.each do |category| %>
          <p>
           <span class="badge badge-dark"><%= category.name %></span>
          </p>
          <% end %> 
        </div>
      </div>
      <div class = "text">
        <p class = "p.ex1"><%= @place.description %></p>
      </div>
    </div>
    <div class = "col-sm-4">
      <div class = "additional">
        <hr>
         <center class = "subtitle"><h3> Нэмэлт мэдээлэл</h3></center>
         <center>
          <p>
           
          </p>
            <div class="hr-sect"><p><b>Цагийн хуваарь</b></p></div>
            
          <div class = "time">
              <center>
               <p> <b>Нээх цаг: </b><%= @place.opentime.strftime("%H:%M %p") %></p>
                <hr>
                <p> <b>Хаах цаг: </b><%= @place.closetime.strftime("%H:%M %p") %> </p>
                <hr>
                <p><%= @place.timetable %></p>
              </center>
            </div>
          
          <div class = "contact">
            <div class="hr-sect"><p><b>Холбоо барих</b></p></div>
            <p class = "fa fa-phone "><%= @place.phone %></p>
            <hr> 
          </div>
          
          <div class = "address">
            <div class="hr-sect"><p><b>Хаяг</b></p></div>
            <div id="map" > </div>
            <hr>
             <p class = "fa fa-location-arrow " style ="font-size:20px"><%= @place.location %></p>
          </div>
         </center>
      </div>
    </div>
  </div>
  
   <div class="hr-sect"><p style="font-size: 25px">Сэтгэгдэл</p></div>
  
  <%= render @place.comments %>

   
  <%= render 'comments/form' %>
</div> 


     <script>

      function initialize() {
        var fenway = {lat:<%= @place.latitude %>, lng: <%= @place.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: fenway,
          zoom: 14
        });
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'), {
              position: fenway,
              pov: {
                heading: 34,
                pitch: 10
              }
            });
        map.setStreetView(panorama);
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQ-hiIk0MeSYiNK4uGxo3GVr_A_AsQ0c&callback=initialize">
    </script>
    <script>
  
  var $star_rating = $('.star-rating1 .fa');

var SetRatingStar1 = function() {
  return $star_rating.each(function() {
    if (parseInt($star_rating.siblings('input.rating-value1').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
  });
};



SetRatingStar1();
$(document).ready(function() {

});
</script>
