<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'new'%>
    <%= stylesheet_link_tag    'show'%>
    <%= stylesheet_link_tag    'global'%>
   
   
    
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      
    <%= render "places/navbar" %>

    </div>
    <%=yield %>
    <%= render "places/footer" %>
  </body>
</html>
